body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1{
    font-size: 50px;
}

h3{
    font-size: 25px;
    color: rgb(95, 95, 95);
    padding-top: 30px;
}

.flex-content{
    display: flex;
    padding: 5%;
    margin-bottom: 50px;
    align-items: center;
}
.half-width{
    width: 50%;
}


.button-orange{
    padding: 15px 30px;
    font-size: 16px;
    border-radius: 30px;
    color: white;
    background-image: linear-gradient(to bottom right, tomato , red);
    border: none;
}

.orange{
    color: tomato;
}

.middle-bg{
    background-image: url(images/7.png);
    background-repeat: no-repeat;
}

.half-image img{
    width: 55%;
}

.one-third{
    width: 30%;
    margin-right: 5%;
    box-shadow: 0px 5px 15px 15px #e0e0e0;
    border-radius: 20px;
    padding: 20px;
}

.one-third img{
    width: 100%;
}

.recipies-items{
    text-align: center;
    margin: 0 200px;
}

.fourth-section{
    display: flex;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    box-shadow: 0px 5px 15px 15px #e0e0e0;
    border-radius: 20px;
}

.fourth-section-div{
    width: 30%;
    text-align: center;
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    width: 100%;
    height: 150px;
    margin-top: 80px;
}

